.nineth {
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  position: relative;
  display: flex;

  img.nineth-bar {
    position: absolute;
    height: 100%;
    width: 0.8vw;
  }

  &-left {
    flex: 35%;
    background: linear-gradient(#182a3f, #181c20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    box-sizing: border-box;

    img.nineth-logo {
      width: 12vw;
      margin-bottom: 15%;
    }

    &-top-bar {
      width: 5vw;
      height: 0.8vw;
      background: #00dcce;
      margin-bottom: 1vw;
    }

    .nineth-title {
      color: white;
      font-size: 5vw;
      font-family: "Nominee-Bold";
    }

    .nineth-desc {
      color: white;
      font-size: 1.6vw;
      font-family: "Nominee-Light";
    }

    &-bottom-bar {
      width: 5vw;
      height: 0.3vw;
      background: #00dcce;
      margin-top: 5%;
    }
  }

  &-right {
    flex: 66%;
    &-back {
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
