
.App {
  min-height: 100vh;
  background-color: black;
  position: relative;
  font-family: 'Nominee-Thin';

  .container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 9;

    img {
      height: auto;
    }
  }
}

@font-face {
  font-family: "Nominee_Black";   /*Can be any text*/
  src: local("Nominee-Black"),
    url("./assets/fonts/Nominee-Black.otf") format("opentype");
}

@font-face {
  font-family: "Nominee-Bold";   /*Can be any text*/
  src: local("Nominee-Bold"),
    url("./assets/fonts/Nominee-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Nominee_Light";   /*Can be any text*/
  src: local("Nominee-Light"),
    url("./assets/fonts/Nominee-Light.otf") format("opentype");
}

@font-face {
  font-family: "Nominee_Medium";   /*Can be any text*/
  src: local("Nominee-Medium"),
    url("./assets/fonts/Nominee-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Nominee_Thin";   /*Can be any text*/
  src: local("Nominee-Thin"),
    url("./assets/fonts/Nominee-Thin.otf") format("opentype");
}